.body-dark {
    background-color: #1b1b1b !important;
}

.header-dark {
    background-color: #1b1b1b !important;
        box-shadow: 0 -2px 20px rgba(0, 0, 0, 1) !important;

}

.dropdown-dark:hover {
    background-color: rgb(12, 12, 12) !important;
}

.dropdown-content-dark {
    background-color: #1b1b1b !important;
}

.dropdown-content-dark > a:hover {
    background-color: rgb(12, 12, 12) !important;
}

.dropdown:hover .dropdown-content-dark {
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1) !important;
}

.github-svg-dark{
    fill: white !important;
}

.menu-dark{
    background-color: #141414 !important; 
}

.menu-links-dark::before {
    background-color: white !important;

}