@media all and (max-width: 900px) {
    html {
        font-size: 1.2em;
    }

    .start-content {
        width: 90%;
    }

    .content {
        width: 90%;
    }

    .content > h1 {
        text-align: center;
    }

    .content > p {
        text-align: center;
    }

    .content > ul {
        text-align: start;
    }
    .dropdown {
        display: none;
    }
    .right-header {
        display: none;
    }

    .right-menu-bar{
        display: block;
    }
    .menu {
        display: block;
    }
    /* .Head-Title {
        font-size: 1.5em;
    } */
}

.show-menu {
    display: block;
    left: 0;
}