@media all and (max-width: 900px) {
    html {
        font-size: 1.2em;
    }

    .start-content {
        width: 90%;
    }

    .content {
        width: 90%;
    }

    .content > h1 {
        text-align: center;
    }

    .content > p {
        text-align: center;
    }

    .content > ul {
        text-align: start;
    }
}